"""Everything related to the command line interface."""

from typing import Final

from {{ package_name }}.cli import exception


__all__: Final = ["APP_NAME", "__app_name__"]

__app_name__: Final = "{{ project_slug }}"
"""The name of the application."""

APP_NAME: Final = exception.check_app_name(__app_name__).replace("-", "_").upper()
"""The name of the application in capital letters."""
