"""Everything related to the command line interface."""

from typing import Final

from {% include pathjoin('includes', 'package_name.jinja') %}.cli import exception


__all__: Final = ["APP_NAME", "__app_name__"]

__app_name__: Final = "{% include pathjoin('includes', 'project_slug.jinja') %}"
"""The name of the application."""

APP_NAME = exception.check_app_name(__app_name__).replace("-", "_").upper()
"""The name of the application in capital letters."""
