#!/usr/bin/env python

"""Top-level executable."""

from {% include pathjoin('includes', 'package_name.jinja') %}.cli.entrypoint import {% include pathjoin('includes', 'package_name.jinja') %}


{% include pathjoin('includes', 'package_name.jinja') %}()
