"""The 'Hello world' command.."""

import importlib

import rich_click as click

from {% include pathjoin('includes', 'package_name.jinja') %}.loc import _


@click.command(name=_("hello-world"), help=_("Say 'Hello, World!'."))
def hello_world() -> None:
    """This is a demonstration command.

    Print "Hello, World!" on the standard output.

    Remove or edit this function to build your own CLI!
    """
    console = importlib.import_module(
        "{% include pathjoin('includes', 'package_name.jinja') %}.console", __package__
    )
    console.STDOUT.print("Hello, World!")
