# 💻 Usage

```{eval-rst}

.. click:: {% include pathjoin('includes', 'package_name.jinja') %}.cli.entrypoint:{% include pathjoin('includes', 'package_name.jinja') %}
    :prog: whiteprint
    :nested: full
```

```{toctree}
---
hidden:
---

Usage <self>
```
